<form onSubmit={{action this.save @person this.tempName}}>
  <input type="text" onKeyUp={{action (mut this.tempName) value="target.value"}}
    value={{@person.name}}>
  {{yield}}
  <input type="submit" value="Save">
</form>